{% extends 'school/homebase.html' %}

{% block content %}

<br>
<br>

<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-5 fw-semibold mt-4">Admin Login Panel</h1>
  <p class="lead">Welcome to School Management System.</p>
  <hr class="my-4">
  <p>Please select any to contiue...</p>
  <p class="lead">
    <a class="btn btn-success btn" href="adminlogin" role="button">Login</a>
    <a class="btn btn-danger btn" href="adminsignup" role="button">Sign Up</a>
  </p>
</div>
{% include "school/footer.html" %}
{% endblock content %}
